<%= form_for post, class: "post" do |f| %>
  <div class="form-group">
    <%= field_with_errors(post, :title) %>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="form-group">
    <%= field_with_errors(post, :body) %>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <%= f.fields_for :tag, @post.tag || Tag.new do |tag_fields| %>
    <div class="form-group">
      <%= tag_fields.label :name, "Tag" %>
      <%= tag_fields.text_field :name %>
    </div>
  <% end %>
  <%= f.submit "Save Post", class: "btn btn-success" %>
<% end %>
