<div class="post">
  <span><%= link_to post.title, post_path(post) %></span>
  <span><%= post.body %></span>
  <span><%= post.publish_date %></span>
  <span><%= raw_link(post) %></span>
  <span><%= tag_link(post) %></span>
  <span><%= author_link(post) %></span>
  <span><%= like_button(post) %></span>
</div>
