<!DOCTYPE html>
<html>
<head>
  <title>MockrocketTIL</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body class="container">
  

  <a href="https://github.com/shadefinale/MockrocketTIL"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>
  
  <div class="row text-center">
    <h1><%= link_to('MockrocketTIL', root_path) %></h1>
  </div>

  <div class="row text-center pull-center">
    <div class="btn-group" role="group">
      <%= link_to('About', about_path, class: 'btn btn-default') %>
      <%= sign_in_or_out_link(current_user) %>
      <%= link_to('Search', search_path, class: 'btn btn-default', id: 'search') %>
      <%= link_to('Stats', stats_path, class: 'btn btn-default') %>
    </div>
  </div>

  <%= yield %>

</body>
</html>
